

<div class="container__small-card">
    <div class="container__small-card-content">
    <div class="small-card__photo">
        <img src="https://media.istockphoto.com/id/1287976958/pt/foto/one-tattoo-artist-tattooing-a-customers-back-in-studio.jpg?s=1024x1024&w=is&k=20&c=wqpmheWYcuD49Zi08LAJA4MhQON4v963X-RvASK_8cM="
            alt="" height="200px" srcset="">
    </div>
    <div class="small-card__title">
        <h1> <a href="#"> Tatuagem blackwork</a></h1>
    </div>
    <div class="container__small-card__separador"><hr></div>
   </div>
</div>
   



