<div class="container__big-card">
<div class="big-card__photo">
 <img src="https://media.istockphoto.com/id/526286018/pt/foto/artista-de-tatuagem-demonstra-o-processo-de-tatuagem.jpg?s=1024x1024&w=is&k=20&c=5aRmjv7LXsS_pGo0y3UjmzlK5DUq8NQaXN6sFaQau20=" 
 alt=""
 height="200px"
 srcset=""
 >
</div>
<div class="big-card__title">
<h1> <a href="#"> Studio de tatuagem  </a></h1>
</div>
<div class="big-card__description">
<p>
  Cada traço, cada detalhe, cada cor: a tatuagem é muito mais do que tinta na pele, é expressão, história e identidade.
  Aqui, transformamos ideias em arte personalizada, feita com cuidado, técnica e criatividade, para que cada cliente leve consigo algo único e eterno.
</p>
</div>
</div>
